
      #bttn{
        margin-left: 100px;
        margin-bottom: 75px;
      }
      .input-group {
    position: relative;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-top: 25px;
      }

.input {
    border: solid 1.5px #c2c2c2;
    background: none;
    padding: 12px 100px;
    font-size: 18px;
    color: #c2c2c2;
}

.label {
    position: absolute;
    left: 15px;
    color: #595C5F;
    font-weight: 400;
    font-size: 18px;
    pointer-events: none;
    transform: translateY(10px);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus, .input:valid {
    outline: none;
    border: 1.5px solid #c2c2c2;
}

.input:focus ~ .label, .input:valid ~ .label {
    transform: translateX(-10px) translateY(-50%) scale(0.8);
    background-color: #ffffff;
    padding: 0.2em;
    color: #212529;
}