<div class="input-group">
  <input type="text" name="text" class="input" required>
  <label class="label">First Name</label>
</div>
<div class="input-group">
  <input type="email" class="input" name="email" required>
  <label class="label">Email Address</label>
</div>
<div class="input-group">
  <input type="text" class="input" name="text" required>
  <label class="label">Mobile Number</label>
</div>
<div class="input-group">
  <input type="text" class="input" name="text" required>
  <label class="label">Subject</label>
</div>
<div class="input-group">
  <textarea class="input" rows="3" required></textarea>
  <label class="label">Message</label>
  </div>
  <button type="button" class="btn btn-outline-success" style="margin-left: 100px; margin-bottom: 50px; padding-right: 40px; padding-bottom: 10px; ">Success</button>