<div class="set" style="background-color: #223670;">
    <table class="table table-borderless" style="background-color: #223670;">
        <thead>
            <tr>
              <td style="color: goldenrod;background-color: #223670; width: 13%;"><b>Quick Links</b></td>
              <td style="background-color: #223670; width: 18%;"><b><a href="department.html" style="text-decoration: none; color: goldenrod;">Industries</a></b></td>
              <td style="background-color: #223670; width: 40%;"><b><a href="options.html" style="text-decoration: none; color: goldenrod;">Services</a></b></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="color: lightgray; background-color: #223670;"><b>Home</b></td>
              <td style="color: lightgray; background-color: #223670;"><b>Mobility</b></td>
              <td style="color: lightgray; background-color: #223670;"><b>Cloud Services</b></td>
                <td style="background-color: #223670; width: 50%;"><a routerLink="/contactus" class="btn btn-outline-warning" tabindex="-1" role="button">Contact Us</a></td>
            </tr>
            <tr>
              <td style="color: lightgray;background-color: #223670;"><b>About Us</b></td>
              <td style="color: lightgray; background-color: #223670;"><b>Aerospace & Defence</b></td>
              <td style="color: lightgray; background-color: #223670;"><b>Cyber Security</b></td>
            </tr>
            <tr>
                <td style="color: lightgray;background-color: #223670;"><b>Insights</b></td>
                <td style="color: lightgray; background-color: #223670;"><b>Locomotive</b></td>
                <td style="color: lightgray; background-color: #223670;"><b>Data Engineering</b></td>
                <td style="color: lightgray; background-color: #223670;"><b>Contact: 1234567890</b></td>
            </tr>
            <tr>
                <td style="color: lightgray;background-color: #223670;"><b>Careers</b></td>
                <td style="color: lightgray; background-color: #223670;"><b>Industries</b></td>
                <td style="color: lightgray; background-color: #223670;"><b>DevOps</b></td>
                <td style="color: lightgray; background-color: #223670;"><b>Email: nestdigitalpark123gmail.com</b></td>
            </tr>
            <tr>
                <td style="color: lightgray;background-color: #223670;"><b>Contact Us</b></td>
                <td style="color: lightgray; background-color: #223670;"><b>Banking & Financial Services</b></td>
                <td style="color: lightgray; background-color: #223670;"><b>GIS</b></td>
            </tr>
            <tr>
                <td style="color: lightgray;background-color: #223670;"><b>Blogs</b></td>
                <td style="color: lightgray; background-color: #223670;"><b>Insurance</b></td>
                <td style="color: lightgray; background-color: #223670;"><b>Cyber Security Consulting</b></td>
            </tr>
            <tr>
                <td style="color: lightgray;background-color: #223670;"><b>Whitepapers</b></td>
                <td style="color: lightgray; background-color: #223670;"><b>Health Care</b></td>
                <td style="color: lightgray; background-color: #223670;"><b>DevOps Consulting</b></td>
            </tr>
            <tr>
                <td style="color: lightgray;background-color: #223670;"><b>Webinars</b></td>
                <td style="color: lightgray; background-color: #223670;"><b></b></td>
                <td style="color: lightgray; background-color: #223670;"><b>Data Engineering Consulting</b></td>
            </tr>
            <tr>
                <td style="color: lightgray;background-color: #223670;"><b>Podcats</b></td>
            </tr>
          </tbody>
      </table>
</div>