<img src="https://th.bing.com/th/id/OIP.8c018Yqpm5eEn27HRMCZfgHaE7?rs=1&pid=ImgDetMain" class="img-fluid" id="class1" alt="...">
<p class="p1"><b>Cloud Services</b></p>
<img src="https://www.cm-alliance.com/hubfs/60776739_l%20(1).jpg#keepProtocol" class="img-fluid" id="class2" alt="...">
<p class="p2"><b>Cyber Security</b></p>
<img src="https://th.bing.com/th/id/OIP.d4GENNpQOoBl4v44APSkgwHaEv?rs=1&pid=ImgDetMain" class="img-fluid" id="class3" alt="...">
<p class="p1"><b>GIS</b></p>
<img src="https://th.bing.com/th/id/OIP.IIQHHjh7BHqdvzJQOvtjrgHaFK?rs=1&pid=ImgDetMain" class="img-fluid" id="class4" alt="...">
<p class="p2"><b>Data Engineering</b></p>
<img src="https://th.bing.com/th/id/OIP.IrrBiqANARnDf2vnwnVRCQHaEM?rs=1&pid=ImgDetMain" class="img-fluid" id="class5" alt="...">
<p class="p1"><b>DevOps</b></p>