<img src="https://wallpaperaccess.com/full/1393343.jpg" class="img-fluid" alt="..." style="float: right;">
      <table class="table table-borderless" style="padding-top: 25px; padding-bottom: 50px; text-align: center;">
      </table>
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" style="margin-bottom: 100px; margin-top: 50px;">
        <div class="carousel-inner">
          <div class="carousel-item active" style="width: 95%;">
            <div class="card-container" style="padding: 0; margin-left: 100px; margin-right: 25px;">
          <div class="carousel-item" style="width: 95%;">
            <div class="card-container" style="margin-left: 100px; margin-right: 25px;">
                <div class="card">
                    <img src="https://i.postimg.cc/B67kpRvs/RR.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title" style="text-align: left;">The Reactive Revolution</h5>
                    </div>
                </div>
          <div class="carousel-item" style="width: 95%;">
                <div class="card-container" style="margin-left: 100px; margin-right: 25px;">
        <div class="card">
            <img src="https://i.postimg.cc/2jJVJ6bR/DLK2.png" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title" style="text-align: left;">Data Lakehouse: 5 Whys</h5>
            </div>
        </div>
        <div class="card">
            <img src="https://i.postimg.cc/GhdgYcKY/RAI.png" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title" style="text-align: left;">Revolutionizing EMR with AI-Powered Voice Integration</h5>
            </div>
        </div>
        <div class="card">
            <img src="https://i.postimg.cc/nhs495yB/UP.png" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title" style="text-align: left;">Utility Pole Capture from LiDAR Point Cloud</h5>
            </div>
        </div>
        <div class="card">
            <img src="https://i.postimg.cc/25vsz0T7/IOT.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title" style="text-align: left;">NeST Digital’s IoT Solution Enables Cost-Effective Power Generation and Distribution Monitoring</h5>
            </div>
        </div>
    </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>