  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" style="width: 50%; float: right;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://th.bing.com/th/id/OIP.J2uSCy0nCHVfg5AxCgg4aQHaHa?rs=1&pid=ImgDetMain" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.postimg.cc/WbyQKFwc/Rectangle-101.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.postimg.cc/zBPjBWBJ/Rectangle-102.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <p class="start" style="padding-left: 50px; padding-top: 200px; color: navy; padding-bottom: 263px; background-color: aliceblue; font-size: large;"><b>The NeST Group of Companies, with our head-quarters at Kochi (Cochin), Kerala, India, has grown from our rather humble inception in 1990 as a single manufacturing plant, to being a diversified conglomerate with a global foot-print and multi-domain expertise in the fields of Electronics Manufacturing Services (EMS), Original Design Manufacturing (ODM), System Integration (SI), Application Development & Management (ADM), IT Infrastructure design & implementation, consulting, besides operations in non-technology areas like Education & Training, Food & Beverages, commercial, industrial and residential real estate development etc.</b></p>